<div class="container">
  <div class="row">
    <div class="col-6">
        <h1>Edit Product Category</h3>
        <%= render 'form' %>
    </div>
    <%= link_to 'Back', product_categories_path, class: "btn btn-primary" %>
  </div>

</div>