<div class="container">
  <div class="row">
    <div class="col-sm-6">

      <h3>New Product Category</h3> 
      <%= render 'form' %>

    </div>

  </div>
  <%= link_to 'Back',product_categories_path, class: "btn btn-primary"  %>

</div>